<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{% block title %}Yayasan vote{% endblock %}</title>
    <!-- Superhero theme, of course. From http://bootswatch.com/ -->
    <link rel='stylesheet' href='/bootstrap-superhero.min.css' />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </style>
</head>
<body>

    <div class='container'>
      <div class='header'>
        <h3 class='text-muted'>Koa vote - a simple voting site</h3>
      </div>

      <div class='jumbotron'>
        {% block content %}
          <p>Hmmm... there's no content here. Marcus needs to do some more work!</p>
        {% endblock %}
      </div>

      <div class='footer'>
        <p>&copy; Marcus Hammarberg, <a href='https://twitter.com/marcusoftnet' target='_blank'>@marcusoftnet</a> 2014</p>
        <p><a href='https://github.com/marcusoftnet/koaVote' target='_blank'>Issues and code</a></p>
        <p class='small'>Smilies from <a href='http://pixabay.com/en/users/OpenIcons/' target='_blank'>OpenIcons</a> used under the <a href='http://pixabay.com/go/?t=http%3A%2F%2Fcreativecommons.org%2Fpublicdomain%2Fzero%2F1.0%2Fdeed.en' target='_blank'>Public Domain CC0</a> license
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
  </body>
</html>