{% extends 'layout.html' %}

{% block title %}New vote{% endblock %}

{% block content %}
  <h1>How do you feel about your visit?</h1>
  <form name="voteForm" action="/vote" method="post">
    <p>
      <input type="hidden" id="hospital" name="hospital" value="Bungsu">
    </p>
    <p>
    	<button onclick="submitVote(1)" type="button">
        <img src="/img/1.jpg" width="100px">
      </button>
  		<button onclick="submitVote(2)" type="button">
        <img src="/img/2.jpg" width="100px">
      </button>
      <button onclick="submitVote(3)" type="button">
        <img src="/img/3.jpg" width="100px">
      </button>
      <button onclick="submitVote(4)" type="button">
        <img src="/img/4.jpg" width="100px">
      </button>
      <input type="hidden" id="voteValue" name="voteValue" value="Bungsu">
    </p>
  </form>
  <script type="text/javascript">
    function submitVote(vote){
      document.getElementById("voteValue").value = vote;
      voteForm.submit();
    };
  </script>
{% endblock %}