{% extends 'layout.html' %}

{% block title %}New vote{% endblock %}

{% block content %}
	<h1>{{ question.questionTitle }}</h1>
	<form name='voteForm' action='/vote' method='post' role='form'>
		<input type='hidden' id='tagString' name='tagString' value='{{ question.tagString }}'>
		<input type='hidden' id='questionId' name='questionId' value='{{ question.id }}'>
		<div class='form-group row'>
			<input type='hidden' id='voteValue' name='voteValue' value='Bungsu'>
			<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
				<img onclick='submitVote(1)' src='/img/1.svg' class="img-responsive">
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
				<img onclick='submitVote(2)' src='/img/2.svg' class="img-responsive">
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
				<img onclick='submitVote(3)' src='/img/3.svg' class="img-responsive">
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
				<img onclick='submitVote(4)' src='/img/4.svg' class="img-responsive">
			</div>
		</div>
	</form>
	<script type='text/javascript'>
	function submitVote(vote){
		document.getElementById('voteValue').value = vote;
		voteForm.submit();
	};
	</script>
{% endblock %}