{% extends 'layout.html' %}

{% block title %}New vote{% endblock %}

{% block content %}
	<h1>{{ question.questionTitle }}</h1>
	<form id='voteForm' action='/vote' method='post' role='form'>
		<input type='hidden' id='tagString' name='tagString' value='{{ question.tagString }}'>
		<input type='hidden' id='questionId' name='questionId' value='{{ question.id }}'>
		<div class='form-group row'>
			<input type='hidden' id='voteValue' name='voteValue' value='Bungsu'>
			<div class='col-md-3 col-xs-6'>
				<img src='/img/1.svg' data-value="1" class="voteface img-responsive">
			</div>
			<div class='col-md-3 col-xs-6'>
				<img src='/img/2.svg' data-value="2" class="voteface img-responsive">
			</div>
			<div class='col-md-3 col-xs-6'>
				<img src='/img/3.svg' data-value="3" class="voteface img-responsive">
			</div>
			<div class='col-md-3 col-xs-6'>
				<img src='/img/4.svg' data-value="4" class="voteface img-responsive">
			</div>
		</div>
		<div class='form-group row'>
			<div id="votingspinner" 
				 class="col-xs-offset-5 col-xs-2"
				 style="display:none">
				<i class="fa fa-5x fa-spinner fa-spin"></i>
				<h2>{{ question.thankYouText }}</h2>
			</div>
		</div>
	</form>
	<script type='text/javascript'>
	$(".voteface").click(function (e) {
		$("#votingspinner").show();
		$(".voteface").hide();

		var vote = $(e.target).data("value");
		$("#voteValue").value = vote;
		
		voteForm.submit();
	});
	</script>
{% endblock %}