{% extends 'layout.html' %}

{% block title %}New vote{% endblock %}

{% block content %}
	<h1>{{ question.questionTitle }}</h1>
	<form name='voteForm' action='/vote' method='post' role='form'>
		<input type='hidden' id='tagString' name='tagString' value='{{ question.tagString }}'>
		<input type='hidden' id='questionId' name='questionId' value='{{ question.id }}'>
		<div class='form-group row'>
			<input type='hidden' id='voteValue' name='voteValue' value='Bungsu'>
			<div class='col-sm-3'>
				<button onclick='submitVote(1)' type='button'>
					<img src='/img/1.svg' width='200px'>
				</button>
			</div>
			<div class='col-sm-3'>
				<button onclick='submitVote(2)' type='button'>
					<img src='/img/2.svg' width='200px'>
				</button>
			</div>
			<div class='col-sm-3'>
				<button onclick='submitVote(3)' type='button'>
					<img src='/img/3.svg' width='200px'>
				</button>
			</div>
			<div class='col-sm-3'>
				<button onclick='submitVote(4)' type='button'>
					<img src='/img/4.svg' width='200px'>
				</button>
			</div>
		</div>
	</form>
	<script type='text/javascript'>
	function submitVote(vote){
		document.getElementById('voteValue').value = vote;
		voteForm.submit();
	};
	</script>
{% endblock %}