{% extends 'layout.html' %}

{% block title %}Question details{% endblock %}

{% block content %}
  <h1>Question: '{{question.questionTitle}}' </h1>
  <form name='questionForm' action='/question/{{ question.id }}/update' method='post'>
    <p>
      <label>Id:</label>
      <pre>{{ question.id }}</pre>
      <p><a href="/vote?questionId={{ question.id }}">Start voting here</a>
    </p>
    <p>
      <label for='questionTitle'>Question:</label>
      <input type='text' id="questionTitle" name="questionTitle" value="{{question.questionTitle}}">
    </p>
    <p>
      <label for='tagString'>Tags:</label>
      <input type='text' id="tagString" name="tagString" value="{{question.tags.join(',')}}">
    </p>
    <input type='submit' value='Update question'>
  </form>
  <a href="/question/{{ question.id }}/results">Show the results</a>
{% endblock %}