<html>
<head>
	<title>Results for {{ vm.question.questionTitle }}</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>Question</th>
			<th>Vote value</th>
			<th>Tags</th>
			<th>Vote date</th>
			<th>Vote time</th>
			<th>Comment</th>
		</tr>
		{% for vote in vm.resultVotes %}
		<tr>
			<td>{{ vm.question.questionTitle }}</td>
			<td>{{vote.voteValue}}</td>
			<td>{{vote.tags.join(', ') }}</td>
			<td>{{vote.created_at.toDateString() }}</td>
			<td>{{vote.created_at.toTimeString() }}</td>
			<td>{{vote.comment }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>