{% extends 'layout.html' %}

{% block title %}Result: '{{ question.questionTitle }}'{% endblock %}

{% block content %}
<h1>Result:'{{ question.questionTitle }}' </h1>

	<div class="row marketing">
		<div class='col-offset-sm-10 col-sm-2'>
			<a href='/question/{{ question._id.toString() }}' class='btn btn-primary btn' role='button'>Question details</a>
		</div>
	</div>
	<div class='row marketing'>
		<div class='col-lg-offset-2 col-lg-6'>
			<canvas id="votesChart" width="200" height="200"></canvas>
		</div>
	</div>
	<script language="javascript">
		var data = {
		    labels: {{ days | safe }} ,
		    datasets: [
		        {
		            label: "{{ question.questionTitle }}",
		            fillColor: "rgba(220,220,220,0.2)",
		            strokeColor: "rgba(220,220,220,1)",
		            pointColor: "rgba(220,220,220,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: {{ voteAvgs }}
		        }
		    ]
		};


		var ctx = document.getElementById("votesChart").getContext("2d");

		var myLineChart = new Chart(ctx).Line(data, {  
			responsive : true,
			datasetFill : true,
			scaleOverride: true, 
			scaleStartValue: 0, 
			scaleStepWidth: 1, 
			scaleSteps: 4
		});
	</script>

{% endblock %}